{{ define "main" }}
  <!-- Header -->
  {{ partial "header" . }}

  <style>
  img {
  border: 1px solid #555;
  }
  </style>
  <div class="container">
    <div class="blog-title my-4">
      <img src="/img/Kings_Peak_Profile.JPG" style="width:800px;height:600px;">
      <p style="text-align:left;">
        <br>My name is Hendrik Jacob Ombach, but my parents have always called me Jake.
        Growing up in Roy, Utah, my youth was spent obsessing about soccer and
        basketball, with most of my time spent playing soccer in the backyard.
        My biggest life achievement to date is juggling the ball 1,465 times
        without it touching the ground.
      </p>
      <p style="text-align:left;">
        Following graduation from Roy High School, I spent a semester at Northwest
        College to play soccer. This is a time I’ll never forget. Moving away from
        home for the first time. Living in a town of 2,000 people with old dorms and
        terrible cafeteria food. Traveling all over the midwest crammed in a small
        bus. Flying out to Georgia for the national tournament (the tournament
        didn’t go too well for us). It was some of the most fun I’d had playing
        soccer, and also the most challenging.
      </p>
      <p style="text-align:left;">
        After the season at Northwest College ended, I transferred to Weber State
        University in Ogden, Utah to finish my degree. During my degree, I had a
        difficult time deciding my major, however I enjoyed learning about the brain
        and its impact on behavior. Thus I chose to major in Psychology with dual
        minors in Neuroscience and Chemistry. I was undecided about whether I wanted
        to use my degree with a research or clinical focus, however I figured this
        plan would provide a solid foundation to continue with my post-bachelor
        studies regardless.
      </p>
      <p style="text-align:left;">
        Following graduation from Weber State in 2016, I interned in a neuroscience
        lab at Texas Tech University, and subsequently worked in a lab at the
        University of Utah Brain Institute. At the University of Utah I was a member
        of the Renshaw Lab studying how hypobaric-hypoxia affects brain function, and
        the corresponding impact on mental health and substance abuse. I found the
        research to be extremely interesting and enjoyed the science, however I
        discovered a Ph.D. was not something I’d be interested in pursuing.
      </p>
      <p style="text-align:left;">
        In March 2019 I transitioned to a position at Covance Inc. which serves as a
        contract research organization in the pharmaceutical and biotechnical
        industries. I felt this served as a great role in which I could dip my toes
        in private industry while also maintaining a connection to the sciences and
        medicine.
      </p>
      <p style="text-align:left;">
        Over my studies and work in science I have enjoyed teaching and telling
        stories with data. I like to find patterns and trends in otherwise seemingless
        information, and present it in easy to understand ways. In my personal time,
        I try to spend as much time as I can enjoying the outdoors and the beauty
        it offers. I’ve uploaded some of my favorite photos to this site.
      </p>
      </div>
    </div>
  </div>
{{ end }}
